---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
  heroImage?: string;
}

const { title, description, updatedDate, heroImage } = Astro.props;
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <BaseHead title={title} description={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  </head>

  <body>
    <Header />
    
    <main>
      <section class="section">
        <div class="container">
          <article class="box">
            <header class="has-text-centered mb-5">
              <h1 class="title is-2">{title}</h1>
              <div class="subtitle is-6 has-text-grey">
                {updatedDate && (
                  <span class="last-updated-on" style="font-style: italic;">
                  </span>
                )}
              </div>
            </header>

            {heroImage && (
              <figure class="image is-16by9 mb-6">
                <img
                  src={`${baseUrl}${heroImage.startsWith('/') ? '' : '/'}${heroImage}`}
                  alt={description || ''}
                />
              </figure>
            )}
            
            <div class="content is-medium">
              <slot />
            </div>
          </article>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
